.vjs-emsg-skin {
    --vjs-emsg-skin--primary: #9f44b4;
    --vjs-emsg-skin--secondary: #fff;
}

/*---Control---*/
.emsg-skin {
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	vertical-align: top;
	box-sizing: border-box;
	color: #fff;
	background: #000;
	padding: 0;
	font-size: 10px;
	line-height: 1;
	font-weight: normal;
	font-style: normal;
	font-family: Questrial !important;
	-webkit-user-select: none;  
  moz-user-select: none;
	-ms-user-select: none;
  user-select: none;  
  overflow: hidden;
}

.emsg-skin .vjs-spacer {    
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: 1 1 auto;
  -moz-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;  
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}

.emsg-skin .vjs-control {
  position: relative;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 34px;
  flex:none;
  -webkit-box-flex: none;
	-moz-box-flex: none;
	-webkit-flex: none;
	-ms-flex: none;
	flex: none;  
}

.emsg-skin .vjs-control:before {
	font-size: 200%;
	line-height: 50px;
	color: #fff;
}

.emsg-skin .vjs-control-text {
  border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	visibility: hidden;
	padding: 0;
	position: absolute;
	width: 6px;
}

.emsg-skin .vjs-no-flex .vjs-control {
	display: table-cell;
	vertical-align: middle;
}

/*---Control Bar---*/
.emsg-skin .vjs-control-bar {
	display: none;
	width: 100%;
	position: absolute;  
	left: calc( 0% - 0px );
	height: 50px;
	border-radius: 0px;
	background: rgba(0,0,0,.6);
	z-index: 7;
}

@media screen and (max-width: 7840px) { 
  .emsg-skin .vjs-control-bar {  
    width: calc( 100% - 0px );
    bottom: 0px;
    left: 0px;
  }

  .vjs-has-started .vjs-control-bar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    visibility: visible;
    opacity: 1;
    transform-origin:  left bottom;
    transition: all .15s cubic-bezier(.44,.14,.34,.97), 
    width 0s, left 0s;
  }


  .vjs-has-started.vjs-user-inactive.vjs-playing 
  .vjs-control-bar {
    visibility: hidden;
    opacity: 0;
    bottom: 0px;
    transition: .15s cubic-bezier(.44,.14,.34,.97);
  }

  .vjs-controls-disabled .vjs-control-bar,
  .vjs-using-native-controls .vjs-control-bar,
  .vjs-error .vjs-control-bar {
    display: none !important;
  }

  .vjs-audio.vjs-has-started.vjs-user-inactive
  .vjs-playing .vjs-control-bar {
    opacity: 1;
    visibility: visible;
  }
 
  .vjs-has-started.vjs-no-flex .vjs-control-bar {
    display: table;
  }
  
  .emsg-skin .vjs-seek-to-live-control {
    align-items: center;
    cursor: pointer;
    flex: none;
    font-family: Questrial;
    display: inline-flex;
    font-weight: 700;
    height: 100%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    line-height: 3em;
    width: auto;
    min-width: 4em;
  }
  
    @keyframes blink {
  from {
    opacity: 0;
  }
  245% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
  }

  .emsg-skin .vjs-icon-circle, .vjs-seek-to-live-
  control .vjs-icon-placeholder {
    font-family: bootstrap-icons;
    font-weight: bold;
    font-style: normal;
    z-index: 5;
  }

  .emsg-skin .vjs-icon-circle:before, .vjs-seek-to-
  live-control .vjs-icon-placeholder:before {
    content: "\F518";
    animation: blink 1000ms 0s ease infinite;
    animation: blink 1000ms 0s ease infinite;
  }

  .emsg-skin .vjs-live-display {
    align-items: center;
    cursor: pointer;
    font-family: Questrial;
    flex: none;
    display: inline-flex;
    font-weight: 700;
    height: 100%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    line-height: 3em;
    width: auto;
    min-width: 4em;
  }

  .emsg-skin .vjs-live-display::before {
    content: "\F518";
    font-family: bootstrap-icons;
    font-weight: bold;
    font-size: 1em;
    padding-right: 6px;
    vertical-align: sub;
    color: #ff0048;
    animation: blink 1000ms 0s ease infinite;
    animation: blink 1000ms 0s ease infinite;
  }

  .emsg-skin.vjs-paused .vjs-live-display:before, 
  .video-js.vjs-waiting .vjs-live-display:before,
  .video-js.vjs-seeking .vjs-live-display:before {
    color: #ccc;
  }
  
  .emsg-skin.vjs-playing .vjs-live-display:before {
    color: red;
  }
  


  /*---ICONS---*/
  .emsg-skin
  .vjs-button > .vjs-icon-placeholder:before, .video-js 
  .vjs-big-play-button .vjs-icon-placeholder:before {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;  
  }
  
  /*---PLAY - PAUSE ---*/  
  .emsg-skin .vjs-play-control {
    color: #ff0048;
    z-index: 99;
    font-weight:bolder;
  }

  .emsg-skin
  .vjs-icon-play, 
  .video-js .vjs-play-control 
  .vjs-icon-placeholder:before {
    font-family: bootstrap-icons;
    font-weight:regular;
    font-style: normal;  
  }
  
  .emsg-skin
  .vjs-icon-play:before,
  .video-js .vjs-play-control 
  .vjs-icon-placeholder:before  {
    font-family: bootstrap-icons;
    font-weight: regular;
    font-style: normal;
    content: "\F4F3";
  } 
 
  .emsg-skin
  .vjs-icon-pause, 
  .video-js .vjs-play-control
  .vjs-playing .vjs-icon-placeholder {
    font-family: bootstrap-icons;
    font-weight: regular;
    font-style: normal;
  }
  
  .emsg-skin
  .vjs-icon-pause:before, 
  .video-js .vjs-play-control.vjs-playing 
  .vjs-icon-placeholder:before {
    content: "\F4C2"; 
  }
  
  
  /*---VOLUME---*/
  .emsg-skin
  .vjs-volume-panel {
    cursor: pointer;
    cursor: pointer;
    float: right;
    display: flex;  
    z-index: 7;
  }
  
  .emsg-skin
  .vjs-icon-volume-mute, 
  .video-js .vjs-mute-control.vjs-vol-0 
  .vjs-icon-placeholder {
    font-family:bootstrap-icons;
    font-weight: 200;
    font-style: normal;
    color: #ff0048;
  }

  .vjs-icon-volume-mute:before, 
  .video-js .vjs-mute-control.vjs-vol-0 
  .vjs-icon-placeholder:before { 
    content: "\f60d";
  }
  
  .emsg-skin
  .vjs-icon-volume-low, 
  .video-js .vjs-mute-control.vjs-vol-1 
  .vjs-icon-placeholder {
    font-family:bootstrap-icons;
    font-weight: 200;
    font-style: normal;
  }
  
  .emsg-skin
  .vjs-icon-volume-low:before, 
  .video-js .vjs-mute-control.vjs-vol-1 
  .vjs-icon-placeholder:before {
    content: "\f60f";
  }
  
  .emsg-skin
  .vjs-icon-volume-mid, 
  .video-js .vjs-mute-control.vjs-vol-2 
  .vjs-icon-placeholder {
    font-family:bootstrap-icons;
    font-weight: regular;
    font-style: normal;
  }
  
  .emsg-skin
  .vjs-icon-volume-mid:before, 
  .video-js 
  .vjs-mute-control.vjs-vol-2 
  .vjs-icon-placeholder:before {
    content: "\f60b";
  }
  
  .emsg-skin
  .vjs-icon-volume-high, 
  .video-js .vjs-mute-control 
  .vjs-icon-placeholder {
    font-family: bootstrap-icons;
    font-weight: regular;
    font-style: normal;
  }
  
  .emsg-skin
  .vjs-icon-volume-high:before, 
  .video-js .vjs-mute-control 
  .vjs-icon-placeholder:before {
    content: "\F611";
    font-weight: regular;
  }
  
  /*---Fullscreen---*/
  .emsg-skin .vjs-fullscreen-control {
    cursor: pointer;
    float: right;
    color: #ff0048;
    z-index: 97;
    font-size: 0.9em; 
  }
  
  .emsg-skin
  .vjs-icon-fullscreen-enter, 
  .video-js .vjs-fullscreen-control 
  .vjs-icon-placeholder {
    font-family: bootstrap-icons;
    font-weight: 200;
    font-style: normal;
  }
  
  .emsg-skin
  .vjs-icon-fullscreen-enter:before, 
  .video-js .vjs-fullscreen-control 
  .vjs-icon-placeholder:before {
    content: "\F14A" ;  
  }
  
  .emsg-skin
  .vjs-icon-fullscreen-exit, 
  .video-js.vjs-fullscreen .vjs-fullscreen-control
  .vjs-icon-placeholder {
    font-family: bootstrap-icons;
    font-weight: 900;
    font-style: normal;
    position: flex;
    color: #ff0048;
  }

  .emsg-skin
  .vjs-icon-fullscreen-exit:before, 
  .video-js.vjs-fullscreen .vjs-fullscreen-control
  .vjs-icon-placeholder:before {
    content: "\F149";
  }
  
  
  /*---Picture in Picture---*/
  .emsg-skin .vjs-picture-in-picture-control {
    font-size: 0.9em;
    z-index: 7;
  }
  
  .emsg-skin
  .vjs-icon-picture-in-picture-enter, 
  .video-js .vjs-picture-in-picture-control 
  .vjs-icon-placeholder {
    font-family: bootstrap-icons;
    font-weight: 200;
    font-style: fa-regular;
  }
  
  .emsg-skin
  .vjs-icon-picture-in-picture-enter:before, 
  .video-js .vjs-picture-in-picture-control 
  .vjs-icon-placeholder:before {
    content: "\F4EF"; 
  }
  
  .emsg-skin
  .vjs-icon-picture-in-picture-exit, 
  .video-js.vjs-picture-in-picture 
  .vjs-picture-in-picture-control 
  .vjs-icon-placeholder {
  font-family: bootstrap-icons;
  font-weight: normal;
  font-style: normal;
  }
  
  .emsg-skin
  .vjs-icon-picture-in-picture-exit:before, 
  .video-js.vjs-picture-in-picture 
  .vjs-picture-in-picture-control 
  .vjs-icon-placeholder:before {
  content: "\f4ee";
  }  
  
  
  /*---Quality Selector Normal---*/
  .emsg-skin .vjs-quality-pick 
  .vjs-icon-placeholder:before{
    font-family: bootstrap-icons;
    font-weight: regular;
    content: "\F3e5";    
  }

  .emsg-skin .vjs-quality-pick {
    font-size: 0.85em;   
    right: 0em;
    font-family: bootstrap-icons;
    font-weight: regular;
    content: "F166";
    z-index: 7;}
  
  
  /*---HLS Quality Selector---*/
  .emsg-skin .vjs-quality-selector
  .vjs-icon-placeholder:before { 
    font-family: bootstrap-icons;
    font-weight: regular; 
    content: "\F3e5";    
  }
  
  .emsg-skin .vjs-quality-selector {
    font-size: 0.85em;   
    right: 0em;
    font-family: bootstrap-icons;
    font-weight: regular;
    content: "F166";
    z-index: 7;}  
  
  .emsg-skin .vjs-quality-selector .vjs-menu {
    position: absolute;
    width: 140px;
    left: -5.8em;
    bottom: 3em;
    border-top-color: rgba(43, 51, 63, 1);
    z-index: 500;
  } 

  .emsg-skin
  .vjs-quality-selector.vjs-menu-button-popup 
  .vjs-menu .vjs-menu-content {  
    position: absolute;
    width: 100%;
    background: rgb(0, 0, 0, 0.868);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 
    0.05),
    0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    font-size:100%;
    font-family: Questrial; 
    font-weight: 500;
  }  

  .emsg-skin .vjs-quality-selector 
  .vjs-menu  li.vjs-menu-title { 
    font-family: Questrial;
    font-size: 9px;
    font-weight: 550;
    text-align: center;
    padding-top: 2px;
    padding-bottom:9px;
    line-height: 10px;
    line-height: 10px;
    border-bottom: 1px solid rgb(255, 0, 72, 0.9);
  }
  
  .emsg-skin .vjs-quality-selector 
  .vjs-menu ul li.vjs-menu-title::before {
    font-family: bootstrap-icons;  
    color: #ff0048;
    font-weight: bold;
    text-align: left;
    display: inline-block;
    font-size: 9px;
    margin-bottom:.1em;
    width: 0em;
    margin-left: -0em;
    background-image: url();
    border: none; 
  }
  
 .emsg-skin .vjs-quality-selector
 .vjs-menu ul li.vjs-menu-title::after  {   
   font-family: bootstrap-icons;
   content: "\F514"; 
   color: #ff0048;   
   font-weight: bold;
   position: absolute;
   text-align: right;
   right: 100px;
   font-size: 11px;
   background-image: url();
   border: none;  
  }   
  
  .emsg-skin .vjs-quality-selector
  .vjs-menu li.vjs-selected {   
    font-family: Questrial;    
    font-weight: 700;
    text-align: center; 
    background: rgb(255, 255, 255, 0.1);
  }

  .emsg-skin .vjs-quality-selector 
  .vjs-menu li.vjs-selected:hover {  
    font-family: Questrial;
    font-weight: bolder;
    text-align: center;
    background: rgb(255, 255, 255, 0.1);
  }
  
  .emsg-skin .vjs-quality-selector 
  .vjs-menu li.vjs-selected:focus { 
    font-family: Questrial;
    text-align: center;
    font-weight: 700;
    background: rgb(255, 255, 255, 0.1);
  }
  
  .emsg-skin .vjs-quality-selector 
  .vjs-menu ul li.vjs-selected::before {
    font-family: bootstrap-icons; 
    content: "\F26A"; 
    color: #ff0048; 
    font-size: 0.8em;
    font-weight: bold;
    width: 2.5em;
    margin-left: -2em;
    display: inline-block;
    background-image: url();
    border: none;
    background-repeat: no-repeat;
    background-position-x: 30%;
    background-position-y: 100%;
    -moz-background-size: 55%;
    -o-background-size: 55%;
    -webkit-background-size: 55%;
    -ms-background-size: 55%;
    background-size: 55%;
  }  
  
  /*---Share---*/
  .emsg-skin .vjs-icon-share {  
    font-family: bootstrap-icons;
    font-weight: normal;
    font-style: normal;
    font-size: 0.7em;
  }
  
  .vjs-icon-share:before { 
    content: "\f52e";
    font-size: 0.1em;
  }
  
  .vjs-share-control {  
    font-family: bootstrap-icons;
    font-weight: normal; 
    font-style: normal;
    font-size: 0.1em;
    z-index: 7;
}    
  
  /*---Subtitles---*/
  .emsg-skin 
  .vjs-icon-subtitles, 
  .video-js .vjs-subs-caps-button 
  .vjs-icon-placeholder,  
  .video-js .vjs-subtitles-button .vjs-icon-placeholder {
    font-family: bootstrap-icons;
    font-weight: regular;
    font-style: normal;
    color: #fff; 
    font-size: 0.858em;
  }
  
  .vjs-icon-subtitles:before, 
  .video-js .vjs-subs-caps-button 
  .vjs-icon-placeholder:before,
  .video-js .vjs-subtitles-button 
  .vjs-icon-placeholder:before {
    content: "\f165";
    z-index: 7; 
    font-weight: lighter
  }
   
  .emsg-skin .vjs-captions-button 
  .vjs-icon-placeholder {    
    font-family: bootstrap-icons;
    font-weight: lighter;
    font-style: normal;
    color: #fff;  
  }
  
  .emsg-skin .vjs-captions-button 
  .vjs-icon-placeholder:before {
  content: "\f165";
  z-index: 7;
  }

  .emsg-skin .vjs-subs-caps-button + 
  .vjs-menu .vjs-captions-menu-item 
  .vjs-menu-item-text 
  .vjs-icon-placeholder:before { 
    font-family: VideoJS;
    content: "";
    color: #ff0048;
    line-height: inherit;
  }  
  
  .emsg-skin .vjs-subtitles-button .vjs-menu, 
  .emsg-skin .vjs-subs-caps-button .vjs-menu{ 
    position: absolute;
    background: rgb(0, 0, 0, 0.868);
    bottom: 0;
    left: -5.5em;
    height: 0em;
    margin-bottom: 4em;
     width: 150px; 
    border-top-color: rgba(0, 0, 0, 1); 
    z-index: 500;
  }
  
 .emsg-skin .vjs-descriptions-button .vjs-menu {   
   position: absolute; 
   bottom: 0;
   left: -13em;
   height: 0em;
   margin-bottom: 3.5em;
   width: 200px;
   border-top-color: rgba(43, 51, 63, 1);
   z-index: 500;
  }    

  
  /*---Menu---*/
  .emsg-skin .vjs-menu li {    
    font-family: Questrial; 
    font-size: 9px;
    text-transform: capitalize;
    color: #fff;
    border-radius: 0px;
    transition: all 0.15s ease;
    border-radius: 0px;
    padding: 0.35em;
    width: 100%;     
  }

  .emsg-skin  ul li::before { 
    content: "";
    color: red;
    font-weight: bold;
    display: inline-block;
    width: 0.4em;
    margin-left: 0em;
    padding-left: 0.4em;
  }

  .emsg-skin .vjs-menu li:hover { 
    color: "#fff"; 
    font-weight: 700;  
  }

  .emsg-skin
  .vjs-menu li.vjs-selected,
  .vjs-menu li.vjs-selected:focus,
  .vjs-menu li.vjs-selected:hover {  
    color: white;
    font-family: Questrial;
    font-weight: 700;
    background: rgb(255, 255, 255, 0.15);
  }
  
  .emsg-skin .vjs-menu li.vjs-menu-item:focus {
    background: rgb(255, 255, 255, 0.0);
  }

  .emsg-skin .vjs-menu li.vjs-menu-item:hover {  
    background: rgb(255, 255, 255, 0.0);
  }

  .emsg-skin .vjs-menu li.vjs-menu-title { 
    text-transform: uppercase;
    font-size: 1em;
    line-height: 0em;
    font-weight: 700;
    cursor: default;
  }
  
  .emsg-skin
  .vjs-menu-button-popup .vjs-menu .vjs-menu-content { 
    position: absolute;
    background: rgb(0, 0, 0, 0.98);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255,         0.05),
    0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 0px;
    margin: 0;
    padding: 1em 0em 1em 0em;
    color: #fff; 
    font-size: 80%;
    font-weight: 400;
    z-index: 999999999999999999999999999999;
  }
  
  /*---Time Control---*/
  .emsg-skin .vjs-time-control {
    -webkit-box-flex: none;
    -moz-box-flex: none;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    font-size: 100%;
    line-height: 51.5px;
    color: rgba(255,255,255,1.0);
    z-index: 7;
  }
  
  .emsg-skin .vjs-current-time,
  .vjs-no-flex .vjs-current-time {  
    display: block;
  }

  .emsg-skin .vjs-duration,
  .vjs-no-flex .vjs-duration {
    display: block;
  }

  .emsg-skin
  .vjs-duration.vjs-control, 
  .vjs-current-time.vjs-control {
    width: auto !important;  
    padding: 0 10px;
  }
  
  .emsg-skin .vjs-time-divider { 
    display: flex;
    align-items: center;
    justify-content: center;             
    color: rgba(255, 255, 255, 0.5);
    margin: 0px -15px 0px;	
    margin-top: 0.2em;
    border-radius: 5px;
  }

  .emsg-skin
  .vjs-time-divider div  span {
    display: flex;  
    align-items: center;
    justify-content: center; 
    font-size: 150%;
    font-weight: bolder; 
    color: #ff0048;
    line-height: 50px;
    border-radius: 1px;
    width: 2px;
    color: rgba(255,0,72,1.0);
  }

  .emsg-skin .vjs-remaining-time {
    display: none;
  }

.video-js.vjs-live .vjs-time-control.vjs-current-time,
.video-js.vjs-live .vjs-time-control.vjs-duration,
.video-js.vjs-live .vjs-time-control.vjs-time-divider,
.video-js.vjs-live .vjs-time-control.vjs-remaining-time, .video-js.vjs-live .vjs-progress-control {
    display: nne
  }
  
  /*---Progress Control---*/
  .emsg-skin .vjs-progress-control {
    -webkit-box-flex: auto;
    -moz-box-flex: auto;
    -webkit-flex: auto;
    -ms-flex: auto;   
    flex: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.4em;
    position: absolute;
    height:.5em;
    top: -.42em;
    width: calc(100% + 0em);
    left: calc(0% - .107em);    
    z-index: 7;
  }

  .emsg-skin .vjs-play-progress {  
    background: #FFF;
    transition: all .0s linear;
  }
    
 .emsg-skin .vjs-load-progress {
    background: rgba(255,0,72,.93);  
  }

  .emsg-skin .vjs-load-progress div {
    background: rgba(255,0,72,.0);
  }

  .emsg-skin .vjs-play-progress:before { 
    font-size: 0em;
    position: absolute;
    right: -0.5em;
    top: -0.257em;
    color: #FF0048;
    z-index: 1;
  }
    
  .emsg-skin .vjs-play-progress:after { 
    font-size: 0em; 
    position: absolute;
    right: -0.5em;
    top: -0.257em;
    font-family: bootstrap-icons;  
    content: "\F517"; 
    color: #FFF;
    z-index: 1;  
  }
  
  .emsg-skin .vjs-progress-control:hover  
  .vjs-progress-holder .vjs-play-progress::before {  
    font-size: 0.5em;
    position: absolute;
    right: -0.5em;
    top: -0.278em;  
    color: #FF0048;
    z-index: 1;
  }
  
  .emsg-skin .vjs-progress-control:hover  
  .vjs-progress-holder .vjs-play-progress::after {  
    font-size: 0.5em;
    position: absolute;
    right: -0.5em;
    top: -0.278em;
    font-family: bootstrap-icons;    
    content: "\F517"; 
    color: #FFF;
    z-index: 1;  
  }  
  
  .emsg-skin .vjs-progress-holder {
    -webkit-box-flex: auto;
    -moz-box-flex: auto;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
    -webkit-transition: all 0s;
    -moz-transition: all 0s;
    -o-transition: all 0s;
    transition: all 0s;
    height: 5px;
    border-radius: 5px;
  }
  
  .emsg-skin .vjs-progress-control .vjs-load-progress, 
  .vjs-progress-control .vjs-play-progress {
    left: 0;
    position: absolute;
    bottom:0;
    color: #ff0048;
    -webkit-transition:all 0.3s ease 0s;
    -moz-transition:all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -ms-transform:translate(0, -50%);
    -moz-transform:translate(0, -90%);
    transition:all 0.2s ease 0s;
    -o-transform:translate(0, -50%);
    -webkit-transform:translate(0, -50%);
    -webkit-transform:translate(0, -50%);
    transform:translate(0, -0%);
  }
     
  .emsg-skin .vjs-progress-holder {
    -webkit-box-flex: auto;
    -moz-box-flex: auto;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
    -webkit-transition: all 0s;
    -moz-transition: all 0s;
    -o-transition: all 0s;
    transition: all 0s;
    height: 5px;
    border-radius: 5px;
  }

  .emsg-skin .vjs-progress-holder .vjs-play-progress,
  .emsg-skin .vjs-progress-holder .vjs-load-progress,
  .emsg-skin .vjs-progress-holder .vjs-load-progress div {
    position: absolute;
    display: block;
    height: 5px;
    margin: 0;
    padding: 0;
    width: 0;
    left: 0;
    top: 0;
    border-radius: 5px;
  }
  
  .vjs-no-flex .vjs-progress-control .vjs-mouse-display {
    z-index: 0;
  }

  .emsg-skin .vjs-progress-control:hover .vjs-mouse
  display {
	display: block;
  }

  .emsg-skin.vjs-user-inactive .vjs-progress-control 
  .vjs-mouse-display,
  .emsg-skin.vjs-user-inactive .vjs-progress-control 
  .vjs-mouse-display:after {  
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 1s, opacity 1s;
    -moz-transition: visibility 0s, opacity 1s;
    -o-transition: visibility 0s, opacity 1s;
    transition: visibility 0s, opacity 1s;
  }

  .emsg-skin.vjs-user-inactive.vjs-no-flex 
  .vjs-progress-control .vjs-mouse-display,
  .emsg-skin.vjs-user-inactive.vjs-no-flex 
  .vjs-progress-control .vjs-mouse-display:after {
    display: none;
  }
  
  .emsg-skin .vjs-progress-control 
  .vjs-mouse-display:after {
    color: #999;
    background: #222;
    border-radius: 5px 5px 0px 5px;
    visibility: visible;
  }
  
  .emsg-skin .vjs-slider {
    outline: 0;
    position: relative;
    cursor: pointer;   
    padding: 0;   
    margin: 0 0.45em 0 0.44em;
    height: 5px;  
    padding: 0;
    width: 0;
    left: 0;
    top: 0;
    border-radius: 5px;
    background: rgba(0,0,0,0.5);
  }
   
  .emsg-skin .vjs-volume-bar {
    margin: 1.35em 0.45em;
  }

  .emsg-skin .vjs-volume-bar.vjs-slider-horizontal {
    width: 5em;
    border-radius: 5px;
    height: 5px;
    top: 1em;
  }
  
  .emsg-skin .vjs-slider-horizontal .vjs-volume-level {      height: 5px;
    border-radius: 5px;     
  }
  
  .emsg-skin .vjs-slider-horizontal 
  .vjs-volume-level:before {
    top: -0.22em;
    right: -0.5em;
    color: #ff0048;
  }
  
 
  
